[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
