snippet ngb "A binding in AngularJS"
{{${1:binding}}}$0
endsnippet


snippet ngm "Bind a view to a model"
ng-model="${1:model}"$0
endsnippet


snippet ngd "Disable a form element"
ng-disabled="${1:model}"$0
endsnippet
